@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";
@plugin "daisyui";
body {
  @apply bg-green-300;
}
.bebas-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.active {
  text-decoration: underline;
  font-style: italic;
  font-size: medium;
}
